* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
#root {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #f1f1f1;
}
.mid-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70vw;
}
.main {
  background-color: white;
  min-height: fit-content;
  padding: 2rem;
  margin: 2rem;
}

.floating-nav {
  position: fixed;
  top: 10px;
  right: 10vmin;
  background-color: white;
  z-index: 100;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.input-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}
.multiple {
  flex-direction: column;
  width: 80%;
  height: fit-content;
  transition: all 0.5s;
  > input {
    margin: 0.5rem;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #020202;
    font-size: 1.5rem;
  }
  > label {
    align-self: flex-start;
    margin: 1rem;
  }
}
.flexit {
  display: flex;
  justify-content: center;
  align-items: center;
}
#input-type {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  font-size: 1rem;
  padding: 0.5rem;
}
